pipeline/PL_Module11.json
{
	"name": "PL_Module11",
	"properties": {
		"activities": [
			{
				"name": "GetURL",
				"description": "HTTP POST URL should be stored in Azure Key Vault and retrieved in ADF pipeline,",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().globalParameters.HttpUrlFromSecret, \n'?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Send Success Notification",
				"description": "Web activity which trigger Logic App workflow",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Status Succeeded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('GetURL').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\n\"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\"pipelineName\": \"@{pipeline().Pipeline}\",\n\"receiver\": \"natallia_krishtapovich@epam.com\",\n\"pipelineStatus\": \"@{variables('Status')}\"\n\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetURL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Module11",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Module11_2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Status Succeeded",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Status",
					"value": "Succeeded"
				}
			},
			{
				"name": "Set Status Failed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Error Message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Status",
					"value": "Failed"
				}
			},
			{
				"name": "Set Error Message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@activity('Copy data').Error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send Failure Notification",
				"description": "Web activity which trigger Logic App workflow",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Status Failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('GetURL').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "natallia_krishtapovich@epam.com",
						"pipelineStatus": "@{variables('Status')}",
						"errorMessage": "@{variables('ErrorMessage')}"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "natallia_krishtapovich@epam.com"
			}
		},
		"variables": {
			"Status": {
				"type": "String"
			},
			"ErrorMessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-14T19:15:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}